/* p{
    color: #40B5F0;
    color: #2144C0;
    color: #142270;
    color: #030303;
    
} */
/* header */
header{
    padding-top: 20px;
    padding-bottom: 30px;
    margin: -10px;
}
h1{
    display: inline;
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    top: 10px;
    left: 20px;
    background: -webkit-linear-gradient(#40B5F0, purple);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


header h2{
    text-align: center;
}
/* header image */
header img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    max-width: fit-content;
    border-radius: 50%;
    position: relative;
}

/* nav */
nav{
    position: top;
    padding-top: 15px;
}
nav ul{
    list-style: none;
    text-align: center;
}
nav li{
    display: inline-block;
    padding-bottom: 40px;
    padding-left: 25px;
    padding-right: 25px;
}
nav ul a{
    color: white;
    font-size: large;
    text-decoration: none;
}
nav li a:hover{
    color: aquamarine;
    text-decoration: underline;
}


/* body general */
body{
    background-image: linear-gradient(to bottom, #030303, #2144C0);
    box-shadow: 0px -20px 10px 70px #142270;
}
h2{
    color: white;
}

/* body now playing */
#now-play{
    text-align: center;
    padding-top: 50px;
}


/* body album display */

.grid-container{
    color: white;
    padding-top: 100px;
    padding-bottom: 50px;
    text-align: center;
    display: grid;
    grid: 
    'myArea . .'
    'myArea . .';
}


/* body album collection */
.scrollable div{
    height: 150px;
    overflow-y: auto;
    background-color: white;
}
/* .scrollable h2{
    color: #030303;
} */
.scrollable div{
    display: grid;
    grid: 
    'myArea . . .'
    'myArea . . .'
    'myArea . . .';
    gap: 30px;
    list-style: none;
    padding: 15px;
    
}

/* body add album */
.add-album-container{
    text-align: center;
    padding-bottom: 100px;
}
.add-album-container label{
    color: white;
}


/* footer */
footer{
    display: flex;
    padding: 100px;
    color: white;
    background-color: #030303;
    text-align: center;
}
footer div{
    flex: 1;
}

