/* p{
    color: #40B5F0;
    color: #2144C0;
    color: #142270;
    color: #030303;
} */
/* OverallNOTE: work on naming conventions. */
    /* NOTE: Prolly change top content to a flexbox, move header-p out of 
             header, add something to top left */

        /* QUESTION: I don't understand why there is still some kind of margin
                     or padding on the right side when scoll left. */

/* header general*/
*{
    margin: 0px;
    padding: 0px;
}
header{
    padding-top: 20px;
    padding-bottom: 30px;
    margin: -10px;
}
h1{
    display: inline;
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    top: 10px;
    left: 20px;
    background: -webkit-linear-gradient(#40B5F0, purple);
    background-clip: border-box ;
    background-clip: padding-box;
    background-clip: content-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

header h2{
    text-align: center;
}

/* nav */
nav{
    position: top;
    padding-top: 15px;
}
nav ul{
    list-style: none;
    text-align: center;
}
nav li{
    display: inline-block;
    padding-bottom: 40px;
    padding-left: 25px;
    padding-right: 25px;
}
nav ul a{
    color: white;
    font-size: large;
    text-decoration: none;
}
nav li a:hover{
    color: #abddf6;
    text-decoration: underline;
}

/* support/profile */
#support-profile{
    display: inline;
    padding-left: 15px;
    position: absolute;
    top: 30px;
    right: 50px;
}
#support-profile a{
    color: white;
    font-size: large;
    text-decoration: none;
}
#support-profile a:hover{
    color: #abddf6;
    text-decoration: underline;
}

/* header image */
header img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    max-width: fit-content;
    border-radius: 50%;
    position: relative;
    box-shadow: 0px 0px 15px 5px white;
    margin-bottom: 100px;
}

/* header paragraphs */
#premium-deals{
    position: absolute;
    top: 350px;
    left: 70px;
    height: 20px;
    width: 250px;
    overflow-y: hidden;
    color: #abddf6;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}

#online-store{
    position: absolute;
    top: 350px;
    right: 50px; 
    height: 20px;
    width: 250px;
    overflow-y: hidden;
    color: #abddf6;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}

#marketing p:hover{
    overflow-y: visible;
}
#marketing p::first-line{
    text-decoration: underline;
}

header div{
    display: flex;
}
header article{
    flex: 1;
}

/* header paragraphs buttons */
article button{
    margin-top: 10px;
    padding: 7px;
    font-size: larger;
}
article button:hover{
    transform: scale(1.5);
    transition: 2s;
}

/* body general */
body{
    background-image: linear-gradient(to bottom, #030303, #2144C0);
}
h2{
    color: white;
}

    /* NOTE: Feels like theres something missing here. Like there should more going on in the background. */
/* body album display */
.grid-container{
    color: white;
    background-color: #030303cc;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 100px 150px 150px 30px 30px 50px;
    gap: 15px;
    border: solid white;
    height: 700px;
    width: 650px;
    box-sizing: border-box;
    border-radius: 5%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}
#now-play{
    grid-column: 1 / span 3;
    text-align: center;
    padding: 30px;
}
#album-art{
    /* height: 200px;
    width: 175px; */
    border: solid;
    border-radius: 5%;
    grid-column: 1 / span 3;
    grid-row: 2 / span 2;
}
#album-title{
    grid-column: 1 / span 3;
    grid-row: 4;
    text-align: left;
}
#album-artist{
    grid-column: 1 / span 3;
    grid-row: 5;
    text-align: left;
}
#play-buttons{
    grid-column: 1 / span 3;
    grid-row: 6;
    border: solid;
}

    /* NOTE: I'm worried that with adding in photo url's the sizing is going
             to mess everything up. I don't think i've done anything to 
             make sure any images added will be sized to their respective containers. */

/* body album collection */
.scrollable div{
    height: 500px;
    overflow-y: auto;
    background-color: #030303;
    border: solid white;
    justify-content: center;
    /* margin-left: auto;
    margin-right: auto;
    width: 1400px; */
}
    /* NOTE: I dont like how the h2 and maybe whole album collection section is styled. 
             Feels weird. */
.scrollable h2{
    padding: 5px 10px 5px 10px;
    border: solid white;
    /* text-align: center; */
    background-color: #030303;
    /* height: fit-content;
    width: fit-content;
    box-sizing: border-box;
    border-radius: 5%;
    margin-left: auto;
    margin-right: auto; */
}

.scrollable div ul{
    display: grid;
    grid: 
    'myArea . . .';
    gap: 30px;
    padding: 15px;
    text-align: center;
    justify-items: center;
}
.scrollable ul{
    list-style: none;
}
    /* NOTE: put text at the bottom */
#album-list li{
    display: inline-block;
    color: white;
    height: 200px;
    width: 170px;
    border: solid;
    box-shadow: 0px 0px 10px 1px white;
    border-radius: 5%;
}
#album-list li:hover{
    transform: scale(1.03);
    box-shadow: 0px 0px 10px 1px #abddf6;
    border: solid #abddf6;
}

/* body add album */
form{
    padding-bottom: 100px;
    padding-top: 60px;
    position: static;
    text-align: center;
}

.add-album-container{
    background-color: #030303;
    text-align: center;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 500px;
    width: 400px;
    border: solid;
    box-sizing: border-box;
    border-radius: 5%;
}

form h2{
    margin-left: 7px;
    padding-bottom: 20px;
}
#album-button{
    margin-top: 20px;
    padding: 5px;
}
#album-button:hover{
    cursor: grab;
    background-color: #abddf6;
}
.add-album-container label{
    color: white;
    text-align: center;
    height: 25px;
    padding-top: 15px;
}
.add-album-container input{
    /* padding: 5px; */
    font-size: large;
    padding: 2px;
    padding-left: 15px;
    padding-right: 15px;
}

/* footer */
footer{
    display: flex;
    padding: 100px;
    color: white;
    background-color: #030303;
    text-align: center;        
}
footer div{
    flex: 1;
}
footer ul{
    list-style: none;
    font-size: smaller;
    text-align: center;
}
footer li{
    padding-bottom: 10px;
}
footer li a{
    color: rgb(198, 194, 194);
    text-decoration: none;
    text-align: justify;
}
footer li a:hover{
    color: white;
}
h4{
    text-decoration: underline;
    padding-bottom: 10px;
}