p{
    color: #40B5F0;
    color: #2144C0;
    color: #142270;
    color: #030303;
    
}
/* header */
header{
    padding-top: 20px;
    padding-bottom: 30px;
    margin: -10px;
}
h1{
    display: inline;
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    top: 10px;
    left: 20px;
    background: -webkit-linear-gradient(#40B5F0, purple);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2{
    color: white;
}
header h2{
    text-align: center;
}

/* nav */
nav{
    padding-top: 55px;
    
}
nav ul{
    list-style: none;
    text-align: center;
}
nav li{
    display: inline-block;
    padding: 40px;
}
nav ul a{
    color: white;
    font-size: large;
    text-decoration: none;
}
nav li a:hover{
    color: aquamarine;
}


/* body general */
body{
    background-image: linear-gradient(to bottom, #030303, #2144C0);
    box-shadow: 0px -20px 10px 70px #142270;
}


/* body album display */

.grid-container{
    color: white;
    padding-top: 150px;
    text-align: center;
    display: grid;
    grid: 
    'myArea . .'
    'myArea . .';
}


/* body album collection */
.scrollable{
    height: 100px;
    overflow-y: auto;
}
.scrollable div{
    display: grid;
    grid: 
    'myArea . . . .'
    'myArea . . . .'
    'myArea . . . .';
    gap: 10px;
    list-style: none;
    padding: 15px;
}

/* body add album */
.add-album-container{
    text-align: center;
    padding-bottom: 30px;
}
.add-album-container label{
    color: white;
}

footer{
    display: flex;
    padding: 100px;
}
footer .footer-image{
    flex: 1;
}

